{% ckan_extends %}

{% block resource_view_content %}
<div class="resource-view">
  {% set resource_preview = h.resource_preview(c.resource, c.package) %}
  {% set views_created = res.has_views or resource_preview %}
  {% if views_created %}
    {% if resource_preview and not current_resource_view %}
      {{ h.resource_preview(c.resource, c.package) }}
    {% else %}
      {% for resource_view in resource_views %}
        {% if resource_view == current_resource_view %}
          {% snippet 'package/snippets/resource_view.html',
             resource_view=resource_view,
             resource=c.resource,
             package=c.package
           %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% resource 'civicdata_featured/js/ckan.js' %}
    {% resource 'civicdata_featured/js/civicdata_featured.js' %}
    {% set view_id = current_resource_view['id'] %}
    {% if h.check_access('package_update', {'id':pkg.id }) and view_id %}
      {% set civicdata_featured = h.get_civicdata_featured_view(view_id) %}
      <div style="float:left; display:inline-block;">
          <button id="canonical" type="button" class="btn btn-default {{ 'active' if civicdata_featured.canonical }}">{{_("Show on Dataset Page")}}</button>
          <button id="organizationpage" type="button" class="btn btn-warning {{ 'active' if civicdata_featured.organizationpage }}">{{_("Show on Organization Page")}}</button>
      </div>
    {% endif %}


  {% else %}
    {# Views not created #}
    <div class="module-content data-viewer-info">
      <p>{{ _("There are no views created for this resource yet.") }}</p>
      {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
        <p class="muted">
          <i class="icon-info-sign"></i>
          {{ _("Not seeing the views you were expecting?")}}
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
            {{ _('Click here for more information.') }}</a>
        </p>
        <div id="data-view-info" class="collapse">
          <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
          <ul>
            <li>{{ _("No view has been created that is suitable for this resource")}}</li>
            <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
            <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
